.header-container {
    .header-content {
      
  
      .header-search-input-mini {
        display: flex;
        align-items: center;
        margin-left: 1.5em;
      }
    } 
}

.container-mini {
    margin-top: 80px;
    padding: 0 10px;
}