.wrapperBody {
    // max-width: 1190px;
    padding: 0 60px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
 }

@media (max-width: 750px) {
    .wrapperBody {
       padding: 0 10px;
    }
}